In [3]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [29]:
df.iloc[0:20,:]

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view
5  2016-09-24 20:32:25.712659  681598  experiment   view
6  2016-09-24 20:39:03.248853  522116  experiment   view
7  2016-09-24 20:57:20.336757  349125  experiment   view
8  2016-09-24 20:58:01.948663  349125  experiment  click
9  2016-09-24 21:00:12.278374  560027     control   view
10 2016-09-24 21:00:41.351487  265695  experiment   view
11 2016-09-24 21:05:15.348935  601714  experiment   view
12 2016-09-24 21:06:27.553057  601714  experiment  click
13 2016-09-24 21:09:09.046127  416862  experiment   view
14 2016-09-24 21:29:19.766467  487634  experiment   view
15 2016-09-24 21:30:02.739756  487634  experiment  click
16 2016-09-24 23:01:08.713402  468601  experiment   view
17 2016-09-24 23:01:12.108316  468601  experiment  click
18 2016-09-24 23:08:35.540897  293251  experiment   view
19 2016-09-24 23:50:31.623841  515303  experiment   view

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
timestamp    8188 non-null object
id           8188 non-null int64
group        8188 non-null object
action       8188 non-null object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [5]:
# total number of actions
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
timestamp    8188 non-null object
id           8188 non-null int64
group        8188 non-null object
action       8188 non-null object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [12]:
# number of unique users
len(df.id.unique())

6328

In [13]:
# size of control group and experiment group
df.group.value_counts()

control       4264
experiment    3924
Name: group, dtype: int64

In [ ]:
df.groupby

In [42]:
df_control = df.loc[df['group']=='control']
df.groupby(['group']).nunique()

            timestamp    id  group  action
group
control          4264  3332      1       2
experiment       3924  2996      1       2

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [21]:
df.timestamp = pd.to_datetime(df.timestamp)

In [22]:
# duration of this experiment
df.timestamp[0]

Timestamp('2016-09-24 17:42:27.839496')

In [23]:
df.timestamp[8187]

Timestamp('2017-01-18 10:24:08.629327')

In [24]:
df.timestamp[8187] - df.timestamp[0]

Timedelta('115 days 16:41:40.789831')

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [25]:
# action types in this experiment
df.action.unique()

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Answer: to remove the effect of different sample sizes.
Getting the proportion of the users who click is more effective than getting the number of users who click when comparing groups of different sizes.

### 5. Define the click through rate (CTR) for this experiment.

Answer: # users who clicks at least once/ # unique visitors (who views the page)

Click-through rate (CTR) is the ratio of users who click on a specific link to the number of total users who view a page, email, or advertisement.

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: $$ experiment group has equal or worse CTR than control group 
$$H_1:  $$ experiment group has better CTR than control group